h1 {
    color: fuchsia;
}

div {
    color: rgb(14, 191, 214);
}

#montantConverti {
    color: darkgoldenrod;
    font-size: 50px;
}

button{
    color: blue;
    font-size: 20px;
}

input{
    color: red;
    font-size: 15px;
}