li{margin-top: 2vw;
  margin-left: -4vw;
  font-size: 5vw;
}

body {
  background-color: rgb(34, 129, 34);
}
#boutonmise {
  display: block;
  margin-top: 25vw;
  margin-left: auto;
  margin-right: auto;
}
.inputmise {
  font-size: 10vw;
  color: white;
  text-align: center;
  width: auto;
  margin-top: 55vw;
  margin-left: auto;
  margin-right: auto;
}

#montantmise {
  color: white;
  text-align: center;
  margin-top: -135vw;
}

#StackDébut {
  position: absolute;
  color: gold;
  text-align: center;
  font-size: 12vw;
  margin-top: -35vw;
  margin-left: 35vw;
  margin-right: auto;
}

#StackEnJeu {
  color: gold;
  text-align: center;
  font-size: 12vw;
  margin-top: 5vw;
}

.carte {
  display: inline-block;
  width: 18vw;
  margin-top: 2vw;
}
.carteb {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 18vw;
  margin-top: 2vw;
}

.boutonsenjeu {
  display: inline-block;
  width: 50%;
  margin-top: 140vw;
  margin-left: auto;
  margin-right: auto;
}

.boutonsenjeusplit {
  display: inline-block;
  width: 33%;
  margin-top: 500px;
  margin-left: auto;
  margin-right: auto;
}

#main {
  text-align: center;
}

#mainb {
  text-align: center;
  margin-top: 0px;
}

#score {
  font-size: 8vw;
  text-align: center;
  margin-top: 5vw;
  color: white;
}

#rejouer {
  display: block;
  margin-top: 73vw;
  margin-left: auto;
  margin-right: auto;
}

#rejouerbqr {
  display: block;
  margin-top: 69vw;
  margin-left: auto;
  margin-right: auto;
}
#bqr {
  text-align: center;
  font-size: 13vw;
  color: rgb(109, 34, 34);
  margin-top: 6vw;
}

#res {
  color: rgb(255, 123, 0);
  text-align: center;
  font-size: 6vw;
  margin-top: 15vw;
}

#split {
  display: block;
  margin-top: 450px;
  margin-left: auto;
  margin-right: auto;
}

#rejouerbj {
  display: block;
  margin-top: 69vw;
  margin-left: auto;
  margin-right: auto;
}

#blackjack {
  color: goldenrod;
  text-align: center;
  font-size: 13vw;
  margin-top: 7vw;
}

#gainbj {
  color: goldenrod;
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
}
#voscartes {
  text-decoration: underline;
  text-align: center;
  margin-top: 85vw;
  font-size: 6vw;
}

#cartesdelabanqueres {
  text-decoration: underline;
  text-align: center;
  margin-top: 7vw;
  font-size: 6vw;
}

#cartedelabanquedebut {
  text-decoration: underline;
  text-align: center;
  margin-top: -145vw;
  font-size: 6vw;
}

#smileyBlackjack {
  display: block;
  margin-top: 5vw;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

#smileyPerdu {
  display: block;
  margin-top: 5vw;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

#Blackjack {
  display: block;
  margin-top: -18vw;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

#Dollar1 {
  display: block;
  margin-top: -57vw;
  width: 10vw;
  margin-left: 0vw;
  margin-right: auto;
}

#Dollar2 {
  display: block;
  margin-top: -18vw;
  width: 10vw;
  margin-left: auto;
  margin-right: -0vw;
}

#Fond {
  display: block;
  margin-top: 3.4vw;
  width: 50vw;
  margin-left: auto;
  margin-right: -2vw;
}

#Jetons {
  display: block;
  margin-top: 0vw;
  width: 50vw;
  margin-left: 0vw;
  margin-right: auto;
}

#Underline {
  display: block;
  margin-top: 5vw;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

#recharger {
  display: block;
  margin-top: -38vw;
  margin-right: 45vw;
}

#regles {
  display: block;
  margin-top: -14vw;
  margin-right: 50vw;
}

#Jouer {
  display: block;
  margin-top: 0vw;
  margin-left: auto;
  margin-right: auto;
}

#cinq {
  display: inline-block;
  width: 6vw;
}

#valet {
  display: inline-block;
  width: 6vw;
}

#as {
  display: inline-block;
  width: 6vw;
}

#amuse {
  color: goldenrod;
  text-decoration: underline;
  text-align: center;
  font-size: 10vw;
}

h1{
  text-decoration: underline;
  text-align: center;
  font-size: 10vw;
}

#SmileyLuck {
  display: block;
  margin-top: 0vw;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}